.avatar {
  background-repeat: no-repeat;
  background-size: contain;
}

.p-computer .avatar {
  background-position: left;
  background-image: url(../assets/avatars/wizard/wizard.png);
}

.p-computer .attack {
  background-image: url(../assets/avatars/wizard/wizard-attack.gif);
}
.p-computer .death {
  background-image: url(../assets/avatars/wizard/wizard-death.png);
}

.p-user .avatar {
  background-position: right;
}

/* AVATAR 1.1 */
.p-user.a1-1 .avatar {
  background-image: url(../assets/avatars/hero/1.1/hero.png);
}
.p-user.a1-1 .avatar.attack {
  background-image: url(../assets/avatars/hero/1.1/hero-attack.gif);
}
.p-user.a1-1 .avatar.death {
  background-image: url(../assets/avatars/hero/1.1/hero-death.png);
}

/* AVATAR 1.2 */
.p-user.a1-2 .avatar {
  background-image: url(../assets/avatars/hero/1.2/hero.png);
}
.p-user.a1-2 .avatar.attack {
  background-image: url(../assets/avatars/hero/1.2/hero-attack.gif);
}
.p-user.a1-2 .avatar.death {
  background-image: url(../assets/avatars/hero/1.2/hero-death.png);
}

/* AVATAR 1.3 */
.p-user.a1-3 .avatar {
  background-image: url(../assets/avatars/hero/1.3/hero.png);
}
.p-user.a1-3 .avatar.attack {
  background-image: url(../assets/avatars/hero/1.3/hero-attack.gif);
}
.p-user.a1-3 .avatar.death {
  background-image: url(../assets/avatars/hero/1.3/hero-death.png);
}

/* AVATAR 2.1 */
.p-user.a2-1 .avatar {
  background-image: url(../assets/avatars/hero/2.1/hero.png);
}
.p-user.a2-1 .avatar.attack {
  background-image: url(../assets/avatars/hero/2.1/hero-attack.gif);
}
.p-user.a2-1 .avatar.death {
  background-image: url(../assets/avatars/hero/2.1/hero-death.png);
}

/* AVATAR 2.2 */
.p-user.a2-2 .avatar {
  background-image: url(../assets/avatars/hero/2.2/hero.png);
}
.p-user.a2-2 .avatar.attack {
  background-image: url(../assets/avatars/hero/2.2/hero-attack.gif);
}
.p-user.a2-2 .avatar.death {
  background-image: url(../assets/avatars/hero/2.2/hero-death.png);
}

/* AVATAR 2.3 */
.p-user.a2-3 .avatar {
  background-image: url(../assets/avatars/hero/2.3/hero.png);
}
.p-user.a2-3 .avatar.attack {
  background-image: url(../assets/avatars/hero/2.3/hero-attack.gif);
}
.p-user.a2-3 .avatar.death {
  background-image: url(../assets/avatars/hero/2.3/hero-death.png);
}

/* AVATAR 3.1 */
.p-user.a3-1 .avatar {
  background-image: url(../assets/avatars/hero/3.1/hero.png);
}
.p-user.a3-1 .avatar.attack {
  background-image: url(../assets/avatars/hero/3.1/hero-attack.gif);
}
.p-user.a3-1 .avatar.death {
  background-image: url(../assets/avatars/hero/3.1/hero-death.png);
}

/* AVATAR 3.2 */
.p-user.a3-2 .avatar {
  background-image: url(../assets/avatars/hero/3.2/hero.png);
}
.p-user.a3-2 .avatar.attack {
  background-image: url(../assets/avatars/hero/3.2/hero-attack.gif);
}
.p-user.a3-2 .avatar.death {
  background-image: url(../assets/avatars/hero/3.2/hero-death.png);
}

/* AVATAR 3.3 */
.p-user.a3-3 .avatar {
  background-image: url(../assets/avatars/hero/3.3/hero.png);
}
.p-user.a3-3 .avatar.attack {
  background-image: url(../assets/avatars/hero/3.3/hero-attack.gif);
}
.p-user.a3-3 .avatar.death {
  background-image: url(../assets/avatars/hero/3.3/hero-death.png);
}
