@font-face {
	font-family: "Monogram";
	src: url("../assets/monogram.ttf");
}

:root {
	font-size: 30px;

	--main: rgb(17, 16, 16);
	--contrast: white;
	--color: red;

	--border: 0.1rem;
}

* {
	font-family: "Monogram";
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.05rem;
	line-height: 0.8rem;
	color: var(--contrast);
}

body {
	background-color: var(--main);
}

main {
	min-height: 100svh;
}

.player .info {
	background-color: var(--main);
	border: var(--border) solid var(--contrast);

	position: relative;
	z-index: 100;

	/* box-shadow: 1rem 1rem black; */
}

.player .health::after {
	content: " ";
	position: absolute;
	height: 0.5rem;
	width: 2rem;
	bottom: -0.5rem;
	right: 0;
	background-color: var(--contrast);

	transform-origin: top right;
	transform: skewX(45deg);
}

.player.p-player .health::after {
	left: 0;
	transform-origin: top left;
	transform: skewX(-45deg);
}

.player.p-player {
	flex-direction: row-reverse;
}

.player .health {
	display: flex;
	gap: 0.2rem;
}

.player .avatar {
	width: 150px;
}
.player.p-player .avatar {
	width: 250px;
}

button {
	background-color: var(--main);
	border: var(--border) solid var(--contrast);
	padding: 0.5rem;
}

.p-player .info {
	/* justify-self: end; */
}

.popup-wrapper {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: blue;
}
